<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title> 
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <h1>TODO List App</h1>
    </body>
</html>