body
{
    text-align: center;
}

#list-container
{
    margin: 0 auto;
    text-align: left;
}

li
{
    margin-left: 35vw;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid grey;
}

#categoryDisplay
{
    height: 2.5vw;
    width: 4.5vw;
    text-align: center;
    padding: 0.5vw;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul 
{
    display: block;
    list-style-type: none;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
}

#descriptionField
{
    width: 25.1vw;
}

#add-btn
{
    position: absolute;
    left: 43vw;
}

#delete-btn
{
    position: absolute;
    left: 51vw;
    top: 8.22vw;
}